---
const { title, description, keywords } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import WhatsAppIcon from "../components/WhatsAppIcon.astro";
import AutoTranslator from "../components/AutoTranslator.astro";


---
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title} | Yilong scrubs</title>
<meta name="description" content={description} />
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RLMP6J7LW7"></script>
<script is:inline>
if(!window.dataLayer) window.dataLayer = [];
function gtag(){window.dataLayer.push(arguments);}
gtag("js", new Date());
gtag("config", "G-RLMP6J7LW7");
</script>
</head>
<body class="bg-slate-50 text-slate-900 flex flex-col min-h-screen">
<Header />
<main class="flex-grow">
<slot />
</main>
<AutoTranslator />
<WhatsAppIcon />
<Footer />
</body>
</html>